@import "moon";
@import "introduction";
@import "handle";
@import "practices";
@import "snow";

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  background-color: rgba(11, 15, 21, 1);   
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
}

.d-none{
  display: none;
}

.margin-7{
  margin: 7px;
}

.small-screen-alert {
  display: none;
}

@media only screen and (max-width: 720px) {
  body {
    background-color: rgba(11, 15, 21, 1);
  }
  .container {
    display: none;
  }



  .small-screen-alert {
    display: block;
    position: fixed !important;
    top: 30% !important;
    text-align: center;
    font-family: fangsong;

    color: #ebe9e9;
    font-weight: bolder;
    font-size: x-large;
    line-height: 44px;
    text-shadow: 2px 2px 15px #d6c0c0;
  }
}
